.posicion {
  position: absolute;
  left: 0;
}
.tomate,.panceta,.queso,.carne{
  top: 0;
}
.pan,
.lechuga,
.pepino,
.cebolla,
.panceta,
.tomate,
.queso,
.carne {
  transition: all 0.3s;
}
.cebolla {
  top: 0.4rem;
}
.pepino,
.lechuga {
  top: -0.3rem;
}
.tomate{
  z-index: 1;
}


section {
  height: 25rem;
}
.test {
  position: absolute;
  right: -2rem;
  top: 10rem;
  z-index: 1;
}

.animar {
  transform: scale(1.1);
}

.ingrediente-p{
  cursor: pointer;
  margin: 0.7rem 0;
  text-align: center;
  color: black;
  transition:all .3s;
  user-select:none;
}
.ingrediente-p:hover{
  color: #edb45e;
}